<!-- templates/posts/posts_list.html -->

{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
{% endblock %}

{% block contents %}
<div class="card">
    <!-- 제목, 작성일 -->
    <div class="card-header">
        <strong>{{ posts.title }}</strong>
        <span>{{ posts.registered_date|date:'Y.md. H:i' }}</span>
    </div>
    <div class="card-body">
        <!-- 모임명, 조회수 -->
        <div>
            <span>모임 : {{ posts.writer }}</span>
            <span>조회수 : {{ posts.hits }}</span>
        </div>
        <!-- 내용 -->
        <div>
            {{ posts.content | safe }}
        </div>
    </div>
</div>

<div>
    <button onclick="location.href='/posts/'">목록</button>
    <button onclick="location.href='/posts/{{ posts.id }}/edit/'">페이퍼 수정</button>
    <button onclick="location.href='/posts/{{ posts.id }}/delete/'">페이퍼 삭제</button>
<div>
{% endblock %}