<!-- templates/posts/posts_list.html -->

{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="board-title">
                <img class="mx-3" src="{% static '/img/make (1).jpg' %}" alt="">
                <h4 style="margin:0; font-weight: bold; font-size:2rem">SHARE OUR RULE</h4>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr class="text-center" style="font-size: 16px; font-family:'S-CoreDream-4Regular';">
                        <th>버전</th>
                        <th>제목</th>
                        <th>모임명</th>
                        <th>등록일</th>
                        <th>버전 업데이트</th>
                    </tr>
                    {% if posts_fixed %}
                    {% for posts in posts_fixed %}
                    <tr class="table-secondary text-center" style="font-weight: bold; cursor:pointer;" onclick="location.href='/posts/{{ posts.id }}/'">
                        <td>{{ posts.version }}</td>
                        <td class="text-left" style="width:50%"><a id="posts-{{ posts.id }}"><i class="fas fa-bullhorn"></i>&nbsp;&nbsp;&nbsp;{{ posts.title|truncatechars:30 }}</a></td>
                        <td>{{ posts.writer }}</td>
                        <td>{{ posts.registered_date|date:'Y. m. d' }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </thead>
                <tbody>
                    {% if posts %}
                    {% for posts in posts %}
                    <tr class="text-center" style="cursor:pointer;  font-size: 16px;" onclick="location.href='/posts/{{ posts.id }}/'">
                        <td style="width:15%">{{ posts.version }}</td>
                        <td class="text-left" style="width:45%">{{ posts.title|truncatechars:30 }}</td>
                        <td style="width:15%">{{ posts.writer.profile.name }}</td>
                        <td style="width:10%">{{ posts.registered_date|date:'Y. m. d' }}</td>
                        <td style="width:15%"><a href="/">update</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="text-center">
                        <td style="color:gray;" colspan="5">
                            작성된 백서가 없습니다.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <a href="/posts/write" class="btn list-button" style="float:right; margin-top:1.3rem;">New Crew Paper</a> 

        </div>
    </div>
</div>

{% endblock %}