<!-- templates/posts/posts_list.html -->

{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
{% endblock %}

{% block contents %}
<div class="posts-list-container">
    <div class="posts-card">
        <!-- 제목, 작성일 -->
        <div class="card-header" style="font-size:1.3rem">
            <strong>{{ posts.title }}</strong>
        </div>
        <div class="card-body">
            <br>
            <!-- 모임명, 조회수 -->
            <div style="font-size:0.95rem; float: right;">
                <span>모임 : {{ posts.writer.profile.name }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{ posts.registered_date|date:'Y.m.d. H:i' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>조회수 : {{ posts.hits }}</span>
            </div>
            <br><br><br><br><br>
            <!-- 내용 -->
            <div class="detail-content" style="font-size: 1.1rem;">
                {{ posts.content | safe }}
            </div>
        </div>

        <div style="margin-top: 4rem;">
            <button class="button posts-write" onclick="location.href='/posts/'">목록</button>
            <button class="button posts-write" onclick="location.href='/posts/{{ posts.id }}/edit/'">페이퍼 수정</button>
            <button class="button posts-write" onclick="location.href='/posts/{{ posts.id }}/delete/'">페이퍼 삭제</button>
        </div>
    </div>
     
</div>
{% endblock %}