<!-- templates/users/profile.html -->

{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
{% endblock %}

{% block contents %}
<div class="container" style="padding:10% 1%">

    <div class="row">
        <div class="col-5">
            <div class="profile-img-frame">

                {% if users.profile.profile_img %}
                <img src="{{ users.profile.profile_img.url }}" alt="" id="img_show" class='mypage-prof-img' onclick="img_click();">
                {% else %}
                    <img src="{% static 'img/default.jpeg' %}" id="img_show" class='mypage-prof-img' onclick="img_click();">
                {% endif %}

                <form method="POST" action="{% url 'users:profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="img_file" id="img_file" style="display:none" accept=".jpg,.jpeg,.png,.gif"/>
                    <input type='submit' class='mypage-submit-btn' value='SAVE'/>
                </form>


            </div>    

            <!-- <div class="profile-img-frame" style="height:23rem;">
                <div class="profile-img-center">
                    <img src="{{ user.profile.profile_img.url }}" alt="프로필사진">
                </div>
            </div> -->
        </div>

        <div class="col">
            <div class="card profile-card">
                <div class="card-header" style="border-style:none;">
                    <strong style="font-size:18px;"><i class="fas fa-user-cog">&nbsp;&nbsp;모임 정보</i></strong>
                </div>
                <div class="card-body profile-body" style="font-size:1rem; padding:2rem 0">
                    <table class="table table-hover" style="color:black;width:100%;">
                        <tbody>
                            <tr>
                                <td class="profile_title">아이디</td>
                                {% if user.level == '0' %}
                                <td class="profile_content">{{ user.user_id }}&nbsp;&nbsp; (개발자)</td>
                                {% else %}
                                <td class="profile_content">{{ user.user_id }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="profile_title">모임명</td>
                                <td class="profile_content">{{ user.profile.name }}</td>
                            </tr>
                            <tr>
                                <td class="profile_title">소속 회원</td>
                                <td class="profile_content" style="word-break:break-all">{{ user.profile.member }}</td>
                            </tr>
                            <tr>
                                <td class="profile_title">총무</td>
                                <td class="profile_content">{{ user.profile.manager }}</td>
                            </tr>
                            <tr>
                                <td class="profile_title">회비 계좌</td>
                                <td class="profile_content">{{ user.profile.account }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="profile-edit-button" style="margin-top:2rem;">
                        <button class="button" onclick="location.href='/users/profile/update'">모임 정보 수정</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function img_click(){
        document.getElementById("img_file").click();
    };
    function readURL(input){
        if (input.files && input.files[0]){
            let reader = new FileReader();
            reader.onload = function (e) {
                $('#img_show').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#img_file').change(function(){
        readURL(this);
        alert("프로필 사진 등록을 마치려면 SAVE 버튼을 눌러 저장하세요.");
    });
</script>

{% endblock %}
