<!-- templates/users/login.html -->

{% extends 'users/user_base.html' %}
{% load static %}

{% block contents %}
<div style="margin-top:200px;">
    <div class="login">
        <div class="login-body">
            <div class="text-center">
                <img src="{% static 'img/django_icon.png' %}" style="width:60%; margin:30px;">
            </div>
            <form method="POST" action="." novalidate>
                {% csrf_token %}

                <!-- 로그인 -->
                <div class="mb-4 md-form">
                    <label name="label_user_id" for="{{ form.user_id.id_for_label }}">{{ form.user_id.label }}</label>
                    {{ form.user_id }}
                    <script type="text/javascript">
                        if (document.getElementsByName('user_id')[0].value != ''){
                            document.getElementsByName('label_user_id')[0].setAttribute('class', 'active');
                        }
                    </script>
                    {% if form.user_id.errors %}
                    <script type="text/javascript">
                        document.getElementsByName('user_id')[0].setAttribute('class',
                            'form-control is-invalid')
                    </script>
                    {% for error in form.user_id.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- 비밀번호 -->
                <div class="mb-4 md-form">
                    <label name="label_password" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    {{ form.password }}

                    {% if form.password.errors %}
                    <script type="text/javascript">
                        document.getElementsByName('password')[0].setAttribute('class',
                            'form-control is-invalid')
                    </script>
                    {% for error in form.password.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                
                <!-- 로그인 링크 -->
                <div class="login-link">
                    <input type="submit" class="button" value="Login">
                    <div class="login-link-add">
                        <a href="/users/register" class="createaccount">create account</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}