<!-- templates/users/profile.html -->

{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="col-12">
        <div class="profile-box">
            <div class="profile-img">
                현재 이미지
                <img src="{{ user.profile_img.url }}" width="100rem" height= "100rem" alt="프로필">
            </div>
            <div class="card profile-card" style="width:90%">
                <div class="card-header" style="border-style:none;">
                    <strong style="font-size:18px;"><i class="fas fa-user-cog">&nbsp;&nbsp;모임 정보</i></strong>
                </div>
                <div class="card-body profile-body" style="font-size:1rem">

                    <form method="POST">
                        {% csrf_token %}
                        <table class="table table-hover" style="color:black; margin: 0.8rem 0rem; width:100%;">
                            <tbody>
                                <tr>
                                    <td class="profile_title">아이디</td>
                                    {% if user.level == '0' %}
                                    <td class="profile_content">{{ user.user_id }}&nbsp;&nbsp; (개발자)</td>
                                    {% else %}
                                    <td class="profile_content">{{ user.user_id }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="profile_title">모임명</td>
                                    <td class="profile_content">{{ user_change_form.name }}</td>
                                </tr>
                                <tr>
                                    <td class="profile_title">소속 회원</td>
                                    <td class="profile_content" style="word-break:break-all">{{ user_change_form.member }}</td>
                                </tr>
                                <tr>
                                    <td class="profile_title">총무</td>
                                    <td class="profile_content">{{ user_change_form.manager }}</td>
                                </tr>
                                <tr>
                                    <td class="profile_title">회비 계좌</td>
                                    <td class="profile_content">{{ user_change_form.account }}</td>
                                </tr>
                                <tr>
                                    <td class="profile_title">이미지</td>
                                    <td class="profile_content">{{ user_change_form.profile_img }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div>
                            <button class="button return" onclick="location.href='/users/profile/'">돌아가기</button>
                            <button type="submit" class="button submit-button" >수정하기</button>
                        </div>
                        
                    </form>

                    <script type = "text/javascript">
                        function maxLengthCheck(object){
                            if (object.value.length > object.maxLength) {
                                object.value = object.value.slice(0, object.maxLength);
                                }   
                            }
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
