<!-- templates/main/main.html -->


{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/main/main.css' %}">
{% endblock %}

{% block contents %}


<div class="main-container">
    <div class="main-row-12">
        <div class="main-col-4">
            <div class="main-box">
                <img src="{% static '/img/main_img (1).jpeg' %}" class="main-img" alt="main_img">
                <div class="main-slogan">이곳은 슬로건이 들어가는 곳입니다. <br> 동해물과백두산이마르고닳도록.</div>
                <!-- <input type="submit" class="button submit-button" value="Join"> -->
                <a href="/posts/write" style="background-color: black; color: white; display:block; padding:14px 25px; text-decoration: none; " class="main-button">백서 만들기</a>
            </div>
        </div>
    </div>
</div> 


{% endblock %} 